.share {
    margin: auto;
    width: 60%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    background-color: white;
}

.shareWrapper {
    padding: 24px;
}

.shareWrapperInPost {
    padding: 24px 24px 0 24px;
}

.shareTop {
    display: flex;
    align-items: center;
    gap: 12px;
}

.shareProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.shareInput {
    border: none;
    width: 80%;
    font-family: 'Poppins', sans-serif;
}

.shareInput:focus {
    outline: none;
}

.shareHr {
    margin: 20px 0;
}

.shareBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shareBottomInPost {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-top: 30px;
}

.shareOptions {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.shareOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}

.shareIcon {
    font-size: 18px;
    color: #0f2f56 !important;
}

.shareOptionText {
    font-size: 14px;
    font-weight: 300;
    color: #000;
}

.shareButton {
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: green;
    font-weight: 500;
    cursor: pointer;
    color: white;
}

.shareImgContainer {
    padding: 0 20px 10px 20px;
    position: relative;
}

.shareImg {
    width: 100%;
    object-fit: cover;
}

.shareCancelImg {
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
    opacity: 0.7;
}