@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
/* 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F4F5F9; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

form * {
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.loginForm *, .registerForm *{
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

.inputPassword::before{
  display: none;
}

.inputPassword input{
  display: inline-block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  font-weight: inherit;
  color: inherit !important;
  padding: 0 10px !important;
}

.inputPassword .ant-input-suffix{
  position: absolute;
  z-index: 1;
  cursor: text;
  width: 96%;
  height: 100%;
  justify-content: flex-end;
}

button span {
  color: inherit !important;
}

.ant-space-item{
  width: 100%;
}

.ant-popconfirm-buttons .ant-btn-default {
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid rgba(140, 140, 140, 0.12);
  color: #0f2f56;
  width: max-content;
  box-sizing: content-box;
}

.ant-popconfirm-buttons .ant-btn-primary {
  padding: 5px 10px;
  background-color: #0f2f56;
  border: 1px solid rgba(140, 140, 140, 0.12);
  color: white;
  width: max-content;
  box-sizing: content-box;
}

#logout-btn {
  background-color: #0f2f56;
  padding: 5px 10px;
}

.nav-btn{
  font-family: 'Martel Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  color: white;
  line-height: normal;
}

.nav-btn:hover,
.nav-btn:focus{
  outline: none;
  color: white;
}
.nav-btn::after{
  content: '';
  display: block;
  position: absolute;
  bottom: 1.5px;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: white;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}
.nav-btn:hover::after,
.nav-btn:focus::after {
  width: 95%;
}

svg, path{
  color: inherit !important;
}

.ant-input-search .ant-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-input-password-icon {
  color: white !important;
}

.ant-upload-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.themeColor {
  color: #0f2f56 !important;
}

.themeColor2 {
  color: #46cce3 !important;
}

.backgroundThemeColor {
  background-color: #0f2f56 !important;
}

.ant-input-search-button {
  background-color: #0f2f56;
  color: white !important;
}

.track *, .trackHeader *{
  font-family: "Poppins", sans-serif;
}

.track:hover {
  background-color: rgba(128, 128, 128, 0.2);
  transition: all .3s ease-in-out;
}

.underlinedWhenHovered:hover {
  text-decoration: underline;
}

.musicPlayer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 90px;
  width: 100%;
  padding: 0 20px;
  background-color: #0f2f56;
}

input[type="range"] {
  align-items: center;
  appearance: none;
  background: none;
  cursor: pointer;
  display: flex;
  min-height: 15px;
  overflow: hidden;
  width: 100%;
  height: 5px;
}

input[type="range"]:focus {
  box-shadow: none;
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #46cce3;
  content: '';
  height: 2.5px;
  pointer-events: none;
}

input[type="range"]::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  appearance: none;
  background: #46cce3;
  border-radius: 8px;
  box-shadow: 
  5px 0 0 -6.5px #fde3cf,
  6px 0 0 -6.5px #fde3cf,
  7px 0 0 -6.5px #fde3cf,
  8px 0 0 -6.5px #fde3cf,
  9px 0 0 -6.5px #fde3cf,
  10px 0 0 -6.5px #fde3cf,
  11px 0 0 -6.5px #fde3cf,
  12px 0 0 -6.5px #fde3cf,
  13px 0 0 -6.5px #fde3cf,
  14px 0 0 -6.5px #fde3cf,
  15px 0 0 -6.5px #fde3cf,
  16px 0 0 -6.5px #fde3cf,
  17px 0 0 -6.5px #fde3cf,
  18px 0 0 -6.5px #fde3cf,
  19px 0 0 -6.5px #fde3cf,
  20px 0 0 -6.5px #fde3cf,
  21px 0 0 -6.5px #fde3cf,
  22px 0 0 -6.5px #fde3cf,
  23px 0 0 -6.5px #fde3cf,
  24px 0 0 -6.5px #fde3cf,
  25px 0 0 -6.5px #fde3cf,
  26px 0 0 -6.5px #fde3cf,
  27px 0 0 -6.5px #fde3cf,
  28px 0 0 -6.5px #fde3cf,
  29px 0 0 -6.5px #fde3cf,
  30px 0 0 -6.5px #fde3cf,
  31px 0 0 -6.5px #fde3cf,
  32px 0 0 -6.5px #fde3cf,
  33px 0 0 -6.5px #fde3cf,
  34px 0 0 -6.5px #fde3cf,
  35px 0 0 -6.5px #fde3cf,
  36px 0 0 -6.5px #fde3cf,
  37px 0 0 -6.5px #fde3cf,
  38px 0 0 -6.5px #fde3cf,
  39px 0 0 -6.5px #fde3cf,
  40px 0 0 -6.5px #fde3cf,
  41px 0 0 -6.5px #fde3cf,
  42px 0 0 -6.5px #fde3cf,
  43px 0 0 -6.5px #fde3cf,
  44px 0 0 -6.5px #fde3cf,
  45px 0 0 -6.5px #fde3cf,
  46px 0 0 -6.5px #fde3cf,
  47px 0 0 -6.5px #fde3cf,
  48px 0 0 -6.5px #fde3cf,
  49px 0 0 -6.5px #fde3cf,
  50px 0 0 -6.5px #fde3cf,
  51px 0 0 -6.5px #fde3cf,
  52px 0 0 -6.5px #fde3cf,
  53px 0 0 -6.5px #fde3cf,
  54px 0 0 -6.5px #fde3cf,
  55px 0 0 -6.5px #fde3cf,
  56px 0 0 -6.5px #fde3cf,
  57px 0 0 -6.5px #fde3cf,
  58px 0 0 -6.5px #fde3cf,
  59px 0 0 -6.5px #fde3cf,
  60px 0 0 -6.5px #fde3cf,
  61px 0 0 -6.5px #fde3cf,
  62px 0 0 -6.5px #fde3cf,
  63px 0 0 -6.5px #fde3cf,
  64px 0 0 -6.5px #fde3cf,
  65px 0 0 -6.5px #fde3cf,
  66px 0 0 -6.5px #fde3cf,
  67px 0 0 -6.5px #fde3cf,
  68px 0 0 -6.5px #fde3cf,
  69px 0 0 -6.5px #fde3cf,
  70px 0 0 -6.5px #fde3cf,
  71px 0 0 -6.5px #fde3cf,
  72px 0 0 -6.5px #fde3cf,
  73px 0 0 -6.5px #fde3cf,
  74px 0 0 -6.5px #fde3cf,
  75px 0 0 -6.5px #fde3cf,
  76px 0 0 -6.5px #fde3cf,
  77px 0 0 -6.5px #fde3cf,
  78px 0 0 -6.5px #fde3cf,
  79px 0 0 -6.5px #fde3cf,
  80px 0 0 -6.5px #fde3cf,
  81px 0 0 -6.5px #fde3cf,
  82px 0 0 -6.5px #fde3cf,
  83px 0 0 -6.5px #fde3cf,
  84px 0 0 -6.5px #fde3cf,
  85px 0 0 -6.5px #fde3cf,
  86px 0 0 -6.5px #fde3cf,
  87px 0 0 -6.5px #fde3cf,
  88px 0 0 -6.5px #fde3cf,
  89px 0 0 -6.5px #fde3cf,
  90px 0 0 -6.5px #fde3cf,
  91px 0 0 -6.5px #fde3cf,
  92px 0 0 -6.5px #fde3cf,
  93px 0 0 -6.5px #fde3cf,
  94px 0 0 -6.5px #fde3cf,
  95px 0 0 -6.5px #fde3cf,
  96px 0 0 -6.5px #fde3cf,
  97px 0 0 -6.5px #fde3cf,
  98px 0 0 -6.5px #fde3cf,
  99px 0 0 -6.5px #fde3cf,
  100px 0 0 -6.5px #fde3cf,
  101px 0 0 -6.5px #fde3cf,
  102px 0 0 -6.5px #fde3cf,
  103px 0 0 -6.5px #fde3cf,
  104px 0 0 -6.5px #fde3cf,
  105px 0 0 -6.5px #fde3cf,
  106px 0 0 -6.5px #fde3cf,
  107px 0 0 -6.5px #fde3cf,
  108px 0 0 -6.5px #fde3cf,
  109px 0 0 -6.5px #fde3cf,
  110px 0 0 -6.5px #fde3cf,
  111px 0 0 -6.5px #fde3cf,
  112px 0 0 -6.5px #fde3cf,
  113px 0 0 -6.5px #fde3cf,
  114px 0 0 -6.5px #fde3cf,
  115px 0 0 -6.5px #fde3cf,
  116px 0 0 -6.5px #fde3cf,
  117px 0 0 -6.5px #fde3cf,
  118px 0 0 -6.5px #fde3cf,
  119px 0 0 -6.5px #fde3cf,
  120px 0 0 -6.5px #fde3cf,
  121px 0 0 -6.5px #fde3cf,
  122px 0 0 -6.5px #fde3cf,
  123px 0 0 -6.5px #fde3cf,
  124px 0 0 -6.5px #fde3cf,
  125px 0 0 -6.5px #fde3cf,
  126px 0 0 -6.5px #fde3cf,
  127px 0 0 -6.5px #fde3cf,
  128px 0 0 -6.5px #fde3cf,
  129px 0 0 -6.5px #fde3cf,
  130px 0 0 -6.5px #fde3cf,
  131px 0 0 -6.5px #fde3cf,
  132px 0 0 -6.5px #fde3cf,
  133px 0 0 -6.5px #fde3cf,
  134px 0 0 -6.5px #fde3cf,
  135px 0 0 -6.5px #fde3cf,
  136px 0 0 -6.5px #fde3cf,
  137px 0 0 -6.5px #fde3cf,
  138px 0 0 -6.5px #fde3cf,
  139px 0 0 -6.5px #fde3cf,
  140px 0 0 -6.5px #fde3cf,
  141px 0 0 -6.5px #fde3cf,
  142px 0 0 -6.5px #fde3cf,
  143px 0 0 -6.5px #fde3cf,
  144px 0 0 -6.5px #fde3cf,
  145px 0 0 -6.5px #fde3cf,
  146px 0 0 -6.5px #fde3cf,
  147px 0 0 -6.5px #fde3cf,
  148px 0 0 -6.5px #fde3cf,
  149px 0 0 -6.5px #fde3cf,
  150px 0 0 -6.5px #fde3cf,
  151px 0 0 -6.5px #fde3cf,
  152px 0 0 -6.5px #fde3cf,
  153px 0 0 -6.5px #fde3cf,
  154px 0 0 -6.5px #fde3cf,
  155px 0 0 -6.5px #fde3cf,
  156px 0 0 -6.5px #fde3cf,
  157px 0 0 -6.5px #fde3cf,
  158px 0 0 -6.5px #fde3cf,
  159px 0 0 -6.5px #fde3cf,
  160px 0 0 -6.5px #fde3cf,
  161px 0 0 -6.5px #fde3cf,
  162px 0 0 -6.5px #fde3cf,
  163px 0 0 -6.5px #fde3cf,
  164px 0 0 -6.5px #fde3cf,
  165px 0 0 -6.5px #fde3cf,
  166px 0 0 -6.5px #fde3cf,
  167px 0 0 -6.5px #fde3cf,
  168px 0 0 -6.5px #fde3cf,
  169px 0 0 -6.5px #fde3cf,
  170px 0 0 -6.5px #fde3cf,
  171px 0 0 -6.5px #fde3cf,
  172px 0 0 -6.5px #fde3cf,
  173px 0 0 -6.5px #fde3cf,
  174px 0 0 -6.5px #fde3cf,
  175px 0 0 -6.5px #fde3cf,
  176px 0 0 -6.5px #fde3cf,
  177px 0 0 -6.5px #fde3cf,
  178px 0 0 -6.5px #fde3cf,
  179px 0 0 -6.5px #fde3cf,
  180px 0 0 -6.5px #fde3cf,
  181px 0 0 -6.5px #fde3cf,
  182px 0 0 -6.5px #fde3cf,
  183px 0 0 -6.5px #fde3cf,
  184px 0 0 -6.5px #fde3cf,
  185px 0 0 -6.5px #fde3cf,
  186px 0 0 -6.5px #fde3cf,
  187px 0 0 -6.5px #fde3cf,
  188px 0 0 -6.5px #fde3cf,
  189px 0 0 -6.5px #fde3cf,
  190px 0 0 -6.5px #fde3cf,
  191px 0 0 -6.5px #fde3cf,
  192px 0 0 -6.5px #fde3cf,
  193px 0 0 -6.5px #fde3cf,
  194px 0 0 -6.5px #fde3cf,
  195px 0 0 -6.5px #fde3cf,
  196px 0 0 -6.5px #fde3cf,
  197px 0 0 -6.5px #fde3cf,
  198px 0 0 -6.5px #fde3cf,
  199px 0 0 -6.5px #fde3cf,
  200px 0 0 -6.5px #fde3cf,
  201px 0 0 -6.5px #fde3cf,
  202px 0 0 -6.5px #fde3cf,
  203px 0 0 -6.5px #fde3cf,
  204px 0 0 -6.5px #fde3cf,
  205px 0 0 -6.5px #fde3cf,
  206px 0 0 -6.5px #fde3cf,
  207px 0 0 -6.5px #fde3cf,
  208px 0 0 -6.5px #fde3cf,
  209px 0 0 -6.5px #fde3cf,
  210px 0 0 -6.5px #fde3cf,
  211px 0 0 -6.5px #fde3cf,
  212px 0 0 -6.5px #fde3cf,
  213px 0 0 -6.5px #fde3cf,
  214px 0 0 -6.5px #fde3cf,
  215px 0 0 -6.5px #fde3cf,
  216px 0 0 -6.5px #fde3cf,
  217px 0 0 -6.5px #fde3cf,
  218px 0 0 -6.5px #fde3cf,
  219px 0 0 -6.5px #fde3cf,
  220px 0 0 -6.5px #fde3cf,
  221px 0 0 -6.5px #fde3cf,
  222px 0 0 -6.5px #fde3cf,
  223px 0 0 -6.5px #fde3cf,
  224px 0 0 -6.5px #fde3cf,
  225px 0 0 -6.5px #fde3cf,
  226px 0 0 -6.5px #fde3cf,
  227px 0 0 -6.5px #fde3cf,
  228px 0 0 -6.5px #fde3cf,
  229px 0 0 -6.5px #fde3cf,
  230px 0 0 -6.5px #fde3cf,
  231px 0 0 -6.5px #fde3cf,
  232px 0 0 -6.5px #fde3cf,
  233px 0 0 -6.5px #fde3cf,
  234px 0 0 -6.5px #fde3cf,
  235px 0 0 -6.5px #fde3cf,
  236px 0 0 -6.5px #fde3cf,
  237px 0 0 -6.5px #fde3cf,
  238px 0 0 -6.5px #fde3cf,
  239px 0 0 -6.5px #fde3cf,
  240px 0 0 -6.5px #fde3cf,
  241px 0 0 -6.5px #fde3cf,
  242px 0 0 -6.5px #fde3cf,
  243px 0 0 -6.5px #fde3cf,
  244px 0 0 -6.5px #fde3cf,
  245px 0 0 -6.5px #fde3cf,
  246px 0 0 -6.5px #fde3cf,
  247px 0 0 -6.5px #fde3cf,
  248px 0 0 -6.5px #fde3cf,
  249px 0 0 -6.5px #fde3cf,
  250px 0 0 -6.5px #fde3cf,
  251px 0 0 -6.5px #fde3cf,
  252px 0 0 -6.5px #fde3cf,
  253px 0 0 -6.5px #fde3cf,
  254px 0 0 -6.5px #fde3cf,
  255px 0 0 -6.5px #fde3cf,
  256px 0 0 -6.5px #fde3cf,
  257px 0 0 -6.5px #fde3cf,
  258px 0 0 -6.5px #fde3cf,
  259px 0 0 -6.5px #fde3cf,
  260px 0 0 -6.5px #fde3cf,
  261px 0 0 -6.5px #fde3cf,
  262px 0 0 -6.5px #fde3cf,
  263px 0 0 -6.5px #fde3cf,
  264px 0 0 -6.5px #fde3cf,
  265px 0 0 -6.5px #fde3cf,
  266px 0 0 -6.5px #fde3cf,
  267px 0 0 -6.5px #fde3cf,
  268px 0 0 -6.5px #fde3cf,
  269px 0 0 -6.5px #fde3cf,
  270px 0 0 -6.5px #fde3cf,
  271px 0 0 -6.5px #fde3cf,
  272px 0 0 -6.5px #fde3cf,
  273px 0 0 -6.5px #fde3cf,
  274px 0 0 -6.5px #fde3cf,
  275px 0 0 -6.5px #fde3cf,
  276px 0 0 -6.5px #fde3cf,
  277px 0 0 -6.5px #fde3cf,
  278px 0 0 -6.5px #fde3cf,
  279px 0 0 -6.5px #fde3cf,
  280px 0 0 -6.5px #fde3cf,
  281px 0 0 -6.5px #fde3cf,
  282px 0 0 -6.5px #fde3cf,
  283px 0 0 -6.5px #fde3cf,
  284px 0 0 -6.5px #fde3cf,
  285px 0 0 -6.5px #fde3cf,
  286px 0 0 -6.5px #fde3cf,
  287px 0 0 -6.5px #fde3cf,
  288px 0 0 -6.5px #fde3cf,
  289px 0 0 -6.5px #fde3cf,
  290px 0 0 -6.5px #fde3cf,
  291px 0 0 -6.5px #fde3cf,
  292px 0 0 -6.5px #fde3cf,
  293px 0 0 -6.5px #fde3cf,
  294px 0 0 -6.5px #fde3cf,
  295px 0 0 -6.5px #fde3cf,
  296px 0 0 -6.5px #fde3cf,
  297px 0 0 -6.5px #fde3cf,
  298px 0 0 -6.5px #fde3cf,
  299px 0 0 -6.5px #fde3cf,
  300px 0 0 -6.5px #fde3cf,
  301px 0 0 -6.5px #fde3cf,
  302px 0 0 -6.5px #fde3cf,
  303px 0 0 -6.5px #fde3cf,
  304px 0 0 -6.5px #fde3cf,
  305px 0 0 -6.5px #fde3cf,
  306px 0 0 -6.5px #fde3cf,
  307px 0 0 -6.5px #fde3cf,
  308px 0 0 -6.5px #fde3cf,
  309px 0 0 -6.5px #fde3cf,
  310px 0 0 -6.5px #fde3cf,
  311px 0 0 -6.5px #fde3cf,
  312px 0 0 -6.5px #fde3cf,
  313px 0 0 -6.5px #fde3cf,
  314px 0 0 -6.5px #fde3cf,
  315px 0 0 -6.5px #fde3cf,
  316px 0 0 -6.5px #fde3cf,
  317px 0 0 -6.5px #fde3cf,
  318px 0 0 -6.5px #fde3cf,
  319px 0 0 -6.5px #fde3cf,
  320px 0 0 -6.5px #fde3cf,
  321px 0 0 -6.5px #fde3cf,
  322px 0 0 -6.5px #fde3cf,
  323px 0 0 -6.5px #fde3cf,
  324px 0 0 -6.5px #fde3cf,
  325px 0 0 -6.5px #fde3cf,
  326px 0 0 -6.5px #fde3cf,
  327px 0 0 -6.5px #fde3cf,
  328px 0 0 -6.5px #fde3cf,
  329px 0 0 -6.5px #fde3cf,
  330px 0 0 -6.5px #fde3cf,
  331px 0 0 -6.5px #fde3cf,
  332px 0 0 -6.5px #fde3cf,
  333px 0 0 -6.5px #fde3cf,
  334px 0 0 -6.5px #fde3cf,
  335px 0 0 -6.5px #fde3cf,
  336px 0 0 -6.5px #fde3cf,
  337px 0 0 -6.5px #fde3cf,
  338px 0 0 -6.5px #fde3cf,
  339px 0 0 -6.5px #fde3cf,
  340px 0 0 -6.5px #fde3cf,
  341px 0 0 -6.5px #fde3cf,
  342px 0 0 -6.5px #fde3cf,
  343px 0 0 -6.5px #fde3cf,
  344px 0 0 -6.5px #fde3cf,
  345px 0 0 -6.5px #fde3cf,
  346px 0 0 -6.5px #fde3cf,
  347px 0 0 -6.5px #fde3cf,
  348px 0 0 -6.5px #fde3cf,
  349px 0 0 -6.5px #fde3cf,
  350px 0 0 -6.5px #fde3cf,
  351px 0 0 -6.5px #fde3cf,
  352px 0 0 -6.5px #fde3cf,
  353px 0 0 -6.5px #fde3cf,
  354px 0 0 -6.5px #fde3cf,
  355px 0 0 -6.5px #fde3cf,
  356px 0 0 -6.5px #fde3cf,
  357px 0 0 -6.5px #fde3cf,
  358px 0 0 -6.5px #fde3cf,
  359px 0 0 -6.5px #fde3cf,
  360px 0 0 -6.5px #fde3cf,
  361px 0 0 -6.5px #fde3cf,
  362px 0 0 -6.5px #fde3cf,
  363px 0 0 -6.5px #fde3cf,
  364px 0 0 -6.5px #fde3cf,
  365px 0 0 -6.5px #fde3cf,
  366px 0 0 -6.5px #fde3cf,
  367px 0 0 -6.5px #fde3cf,
  368px 0 0 -6.5px #fde3cf,
  369px 0 0 -6.5px #fde3cf,
  370px 0 0 -6.5px #fde3cf,
  371px 0 0 -6.5px #fde3cf,
  372px 0 0 -6.5px #fde3cf,
  373px 0 0 -6.5px #fde3cf,
  374px 0 0 -6.5px #fde3cf,
  375px 0 0 -6.5px #fde3cf,
  376px 0 0 -6.5px #fde3cf,
  377px 0 0 -6.5px #fde3cf,
  378px 0 0 -6.5px #fde3cf,
  379px 0 0 -6.5px #fde3cf,
  380px 0 0 -6.5px #fde3cf,
  381px 0 0 -6.5px #fde3cf,
  382px 0 0 -6.5px #fde3cf,
  383px 0 0 -6.5px #fde3cf,
  384px 0 0 -6.5px #fde3cf,
  385px 0 0 -6.5px #fde3cf,
  386px 0 0 -6.5px #fde3cf,
  387px 0 0 -6.5px #fde3cf,
  388px 0 0 -6.5px #fde3cf,
  389px 0 0 -6.5px #fde3cf,
  390px 0 0 -6.5px #fde3cf,
  391px 0 0 -6.5px #fde3cf,
  392px 0 0 -6.5px #fde3cf,
  393px 0 0 -6.5px #fde3cf,
  394px 0 0 -6.5px #fde3cf,
  395px 0 0 -6.5px #fde3cf,
  396px 0 0 -6.5px #fde3cf,
  397px 0 0 -6.5px #fde3cf,
  398px 0 0 -6.5px #fde3cf,
  399px 0 0 -6.5px #fde3cf,
  400px 0 0 -6.5px #fde3cf,
  401px 0 0 -6.5px #fde3cf,
  402px 0 0 -6.5px #fde3cf,
  403px 0 0 -6.5px #fde3cf,
  404px 0 0 -6.5px #fde3cf,
  405px 0 0 -6.5px #fde3cf,
  406px 0 0 -6.5px #fde3cf,
  407px 0 0 -6.5px #fde3cf,
  408px 0 0 -6.5px #fde3cf,
  409px 0 0 -6.5px #fde3cf,
  410px 0 0 -6.5px #fde3cf,
  411px 0 0 -6.5px #fde3cf,
  412px 0 0 -6.5px #fde3cf,
  413px 0 0 -6.5px #fde3cf,
  414px 0 0 -6.5px #fde3cf,
  415px 0 0 -6.5px #fde3cf,
  416px 0 0 -6.5px #fde3cf,
  417px 0 0 -6.5px #fde3cf,
  418px 0 0 -6.5px #fde3cf,
  419px 0 0 -6.5px #fde3cf,
  420px 0 0 -6.5px #fde3cf,
  421px 0 0 -6.5px #fde3cf,
  422px 0 0 -6.5px #fde3cf,
  423px 0 0 -6.5px #fde3cf,
  424px 0 0 -6.5px #fde3cf,
  425px 0 0 -6.5px #fde3cf,
  426px 0 0 -6.5px #fde3cf,
  427px 0 0 -6.5px #fde3cf,
  428px 0 0 -6.5px #fde3cf,
  429px 0 0 -6.5px #fde3cf,
  430px 0 0 -6.5px #fde3cf,
  431px 0 0 -6.5px #fde3cf,
  432px 0 0 -6.5px #fde3cf,
  433px 0 0 -6.5px #fde3cf,
  434px 0 0 -6.5px #fde3cf,
  435px 0 0 -6.5px #fde3cf,
  436px 0 0 -6.5px #fde3cf,
  437px 0 0 -6.5px #fde3cf,
  438px 0 0 -6.5px #fde3cf,
  439px 0 0 -6.5px #fde3cf,
  440px 0 0 -6.5px #fde3cf,
  441px 0 0 -6.5px #fde3cf,
  442px 0 0 -6.5px #fde3cf,
  443px 0 0 -6.5px #fde3cf,
  444px 0 0 -6.5px #fde3cf,
  445px 0 0 -6.5px #fde3cf,
  446px 0 0 -6.5px #fde3cf,
  447px 0 0 -6.5px #fde3cf,
  448px 0 0 -6.5px #fde3cf,
  449px 0 0 -6.5px #fde3cf,
  450px 0 0 -6.5px #fde3cf,
  451px 0 0 -6.5px #fde3cf,
  452px 0 0 -6.5px #fde3cf,
  453px 0 0 -6.5px #fde3cf,
  454px 0 0 -6.5px #fde3cf,
  455px 0 0 -6.5px #fde3cf,
  456px 0 0 -6.5px #fde3cf,
  457px 0 0 -6.5px #fde3cf,
  458px 0 0 -6.5px #fde3cf,
  459px 0 0 -6.5px #fde3cf,
  460px 0 0 -6.5px #fde3cf,
  461px 0 0 -6.5px #fde3cf,
  462px 0 0 -6.5px #fde3cf,
  463px 0 0 -6.5px #fde3cf,
  464px 0 0 -6.5px #fde3cf,
  465px 0 0 -6.5px #fde3cf,
  466px 0 0 -6.5px #fde3cf,
  467px 0 0 -6.5px #fde3cf,
  468px 0 0 -6.5px #fde3cf,
  469px 0 0 -6.5px #fde3cf,
  470px 0 0 -6.5px #fde3cf,
  471px 0 0 -6.5px #fde3cf,
  472px 0 0 -6.5px #fde3cf,
  473px 0 0 -6.5px #fde3cf,
  474px 0 0 -6.5px #fde3cf,
  475px 0 0 -6.5px #fde3cf,
  476px 0 0 -6.5px #fde3cf,
  477px 0 0 -6.5px #fde3cf,
  478px 0 0 -6.5px #fde3cf,
  479px 0 0 -6.5px #fde3cf,
  480px 0 0 -6.5px #fde3cf,
  481px 0 0 -6.5px #fde3cf,
  482px 0 0 -6.5px #fde3cf,
  483px 0 0 -6.5px #fde3cf,
  484px 0 0 -6.5px #fde3cf,
  485px 0 0 -6.5px #fde3cf,
  486px 0 0 -6.5px #fde3cf,
  487px 0 0 -6.5px #fde3cf,
  488px 0 0 -6.5px #fde3cf,
  489px 0 0 -6.5px #fde3cf,
  490px 0 0 -6.5px #fde3cf;
  margin-top: -6.5px;
  border: none;
}

.milli{
  color: white;
  text-align: center;
}

.musicPlayerIcon{
  color: #46cce3 !important;
  width: 28px;
  aspect-ratio: 1/1;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.musicPlayerIcon:hover{
  scale: 1.2;
}

.musicPlayerIcon svg {
  width: inherit !important;
  height: inherit !important;
}
